@using DACN_WebXemLichDaBong.Areas.Admin.Models;
@model LichThiDauViewModel;
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <a style=" margin-left: 400px;" href="/Admin/Calendar/Index">Hủy</a>
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Sửa Lịch Thi Đấu</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <form method="post" asp-controller="Calendar" asp-action="Edit" class="tm-edit-product-form">
                            <input value="@Model.LichId" name="LichId" hidden>
                            <div class="form-group mb-3">
                                <b> Hình Thức Thi Đấu </b>
                                <select name="HinhThucThiDauId">
                                    <option value="@Model.HinhThucThiDauId" selected="selected">@Model.HinhThucThiDau</option>
                                    @foreach (var httd in Model.HinhThucThiDauAvailable)
                                    {
                                        <option value="@httd.HinhThucThiDauId">@httd.TenHinhThucThiDau</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <b> Hình Thức Thi Đấu </b>
                                <select name="GiaiDauId" id="GiaiDau" onchange="GetDoiBong(this.value)">
                                    <option value="@Model.GiaiDauId" selected="selected">@Model.GiaiDau</option>
                                    @foreach (var gd in Model.GiaiDauAvailable)
                                    {
                                        <option value="@gd.GiaiDauId">@gd.TenGiaiDau</option>
                                    }
                                </select>
                            </div>
                            <b> Đội Bóng Bên Trái </b>
                            <select name="DoiBenTraiId" id="DoiBong">
                                <option value="@Model.DoiBenTraiId" selected="selected">@Model.DoiBenTrai</option>
                            </select>
                            <div class="form-group mb-3">
                                <b> Đội Bóng Bên Phải </b>
                                <select name="DoiBenPhaiId" id="DoiBong">
                                    <option value="@Model.DoiBenPhaiId" selected="selected">@Model.DoiBenPhai</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <b>Thời Gian Thi Đấu</b><input value="@Model.ThoiGianThiDau" id="ThoiGianThiDau" name="ThoiGianThiDau" type="text" autocomplete="off" required>
                            </div>
                            <div class="form-group mb-3">
                                <b>Kết Thúc?</b><input value="@Model.IsKetThuc" name="IsKetThuc" type="checkbox" autocomplete="off">
                            </div>
                            <div class="form-group mb-3">
                                <b>Tỷ Số</b><input value="@Model.TySo" name="Tyso" type="text" autocomplete="off">
                            </div>
                            <div class="form-group mb-3">
                                <b>Sân Thi Đấu</b><input value="@Model.SanThiDau" name="SanThiDau" type="text" autocomplete="off" required>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Sửa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function GetDoiBong(GiaiDauId) {
        console.log(GiaiDauId)
        $.ajax({
            url: '/Admin/Calendar/GetDoiBong?GiaiDauId=' + GiaiDauId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $('#DoiBong').empty();
                $('#DoiBong').append("<option selected=" + 'selected' + ">--Chọn Đội Bóng--</option>");
                $.each(data, function (id, option) {
                    $("#DoiBong").append("<option value=" + option.doiBongId + ">" + option.tenDoiBong + "</option>")
                })
            }
        });
    };
    $(function () {
        $("#ThoiGianThiDau").datetimepicker();
    });
</script>
